<section class="tiles">
	{% for page in site.pages <!-- limit:site.front-page-pages --> %}
	{% if page.title and page.title != 'Home' and page.title != 'Coffee' %}
	<article class="style{{ forloop.index | minus:4 }}">
		<span class="image">
			<img src="{{ page.tile-image }}" alt="" />
		</span>
		<a href="{{ page.url | prepend:site.baseurl | prepend:site.url }}">
			<h2>{{ page.title }}</h2>
			<ul class="alt" style="font-weight:600;">
				{% if page.tile-dist %}
				<li> Distance: {{ page.tile-dist }} </li>
				{% endif %}
				{% if page.tile-elev %}
				<li> Elevation: {{ page.tile-elev }} </li>
				{% endif %}
				{% if page.tile-duration %}
				<li> Duration: {{ page.tile-duration }} </li>
				{% endif %}
				{% if page.tile-difficulty %}
				<li> Difficulty: {{ page.tile-difficulty }} </li>
				{% endif %}
			</ul>
			{% if page.route-desc %}
			<p style="font-weight: 600;"> {{ page.route-desc }} </p>
			{% endif %}
		</a>
	</article>
	{% endif %}
	{% endfor %}
</section>
